@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-custom-richBlack text-gray-200 antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glass {
    @apply bg-custom-richBlack/60 backdrop-blur-lg border border-white/10 shadow-2xl;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-custom-midnightGreen via-custom-carrotOrange to-custom-gargoyleGas;
  }
  
  .group:hover .group-hover-text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-custom-midnightGreen via-custom-carrotOrange to-custom-gargoyleGas;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050B14; /* custom-richBlack */
}

::-webkit-scrollbar-thumb {
  background: #1E293B; /* custom-darkPurple */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B82F6; /* custom-carrotOrange */
}

/* Base styles to prevent horizontal scroll issues */
body {
  overflow-x: hidden;
}
